@model hostel_management.Models.RoomModel
@{
    ViewData["Title"] = "Rooms";
    Layout = "_Layout_admin";
}

<div class="flex flex-col w-screen px-16 py-12 bg-zinc-50 justify-center items-center">
    <main class="flex w-full flex-col gap-0 mt-5 justify-center items-center">
        <h1 class="text-4xl max-sm:text-2xl pb-5 tracking-tighter text-black leading-[60px]">Set Rooms Details</h1>
        <form asp-action="Room" method="post" class="grid w-full grid-cols-2 max-sm:!grid-cols-1 gap-x-5 max-w-screen-sm">
            <div class="mb-4 min-w-[200px] w-full">
                <label asp-for="HostelName" class="flex justify-between text-gray-700 text-sm font-semibold  ps-2">
                    <span>Hostel Name</span>
                </label>
                <input asp-for="HostelName" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="BH C Building" />
                <span asp-validation-for="HostelName" class="text-red-500"></span>
            </div>
            <div class="mb-4 min-w-[200px] w-full">
                <label asp-for="RoomNumber" class="flex justify-between text-gray-700 text-sm font-semibold  ps-2">
                    <span>Room Number</span>
                </label>
                <input asp-for="RoomNumber" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="520" />
                <span asp-validation-for="RoomNumber" class="text-red-500"></span>
            </div>
            <div class="mb-4 min-w-[200px] w-full">
                <label asp-for="Capacity" class="flex justify-between text-gray-700 text-sm font-semibold  ps-2">
                    <span>Capacity</span>
                </label>
                <input asp-for="Capacity" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="4" />
                <span asp-validation-for="Capacity" class="text-red-500"></span>
            </div>
            <div class="mb-4 min-w-[200px] w-full">
                <label asp-for="Fees" class="flex justify-between text-gray-700 text-sm font-semibold  ps-2">
                    <span>Fees</span>
                </label>
                <input asp-for="Fees" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="68000" />
                <span asp-validation-for="Fees" class="text-red-500"></span>
            </div>
            <div class=" col-span-2 max-sm:col-span-1">
                <div class="flex flex-col mb-5">
                    <div class="flex flex-col w-full sm:!flex-row sm:gap-5">
                        <label class="text-black">Ac Room ? </label>
                        <div class="flex flex-row items-start gap-4">
                            <div>
                                <input id="acRoomYes" asp-for="AcRoom" class="accent-gray-700" type="radio" value="true" />
                                <label for="acRoomYes" class="pl-1">Yes</label>
                            </div>
                            <div>
                                <input id="acRoomNo" asp-for="AcRoom" class="accent-gray-700" type="radio" value="false" />
                                <label for="acRoomNo" class="pl-1">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-span-2 max-sm:col-span-1">
                <div class="mb-4 min-w-[200px] w-full">
                    <label asp-for="IssueItems" class="flex justify-between text-gray-700 text-sm font-semibold  ps-2">
                        <span>Issue Items</span>
                    </label>
                    <textarea asp-for="IssueItems" class="form-input resize-none w-full px-4 py-1 border rounded-br-2xl rounded-tl-2xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="Bucket 2, Fan Remote"></textarea>
                    <span asp-validation-for="IssueItems" class="text-red-500"></span>
                </div>
            </div>
            <button type="submit" class="bg-green-700 hover:bg-green-800 focus:ring-green-600 text-white px-4 py-1 mx-1 rounded-tl-xl rounded-br-lg focus:ring-2 focus:ring-opacity-100 w-fit text-2xl">Submit</button>
            <span asp-validation-summary="All" class="text-red-500"></span>
        </form>
    </main>
</div>
