@model hostel_management.Models.SignUpModel

@{
    ViewData["Title"] = "Sign_up";
    Layout = "_Layout";
}

<div class="flex justify-center">
    <main class="container max-w-5xl max-lg:max-w-2xl max-sm:max-w-sm flex flex-col items-center bg-zinc-50 w-full">
        <section class="self-stretch px-3.5 py-2.5 mt-8 shadow-2xl bg-zinc-300 rounded-[50px_0px] max-md:max-w-fit">
            <article class="flex max-lg:items-center max-w-fit max-lg:flex-col bg-slate-900/10 max-md:gap-0 rounded-[50px_0px] overflow-hidden">
                <div class="w-full lg:w-8/12 max-xl:h-2/5">
                    <img loading="lazy" class="object-fill h-full w-100 inset-0 overflow-hidden" src="https://www.admissions.rku.ac.in/img/campus/rk-university-hostel-rajkot-2.jpg">
                </div>
                <div class="flex justify-center items-center h-full max-xl:h-3/5 lg:w-4/12 max-w-[320px]">
                    <div class="w-full h-full">
                        <div class="w-full flex flex-col items-center justify-center p-10">
                            <div class="w-full text-3xl font-bold flex justify-center mb-10">Sign Up</div>
                            <form asp-action="Sign_up" method="post" class="w-full flex flex-col justify-center items-center">
                                <div class="mb-4 min-w-[200px] w-full">
                                    <label for="Username" class="flex justify-between text-gray-700 text-sm font-semibold ps-2">
                                        <span>User Name</span>
                                    </label>
                                    <input type="text" id="Username" asp-for="Username" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="Enter your username">
                                    <span asp-validation-for="Username" class="text-red-500"></span>
                                </div>
                                <div class="mb-4 min-w-[200px] w-full">
                                    <label for="Email" class="flex justify-between text-gray-700 text-sm font-semibold ps-2">
                                        <span>Email</span>
                                    </label>
                                    <input type="email" id="Email" asp-for="Email" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="Enter your email">
                                    <span asp-validation-for="Email" class="text-red-500"></span>
                                </div>
                                <div class="mb-4 min-w-[200px] w-full">
                                    <label for="Password" class="flex justify-between text-gray-700 text-sm font-semibold ps-2">
                                        <span>Password</span>
                                    </label>
                                    <input type="password" id="Password" asp-for="Password" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="Enter your password">
                                    <span asp-validation-for="Password" class="text-red-500"></span>
                                </div>
                                <div class="mb-4 min-w-[200px] w-full">
                                    <label for="ConfirmPassword" class="flex justify-between text-gray-700 text-sm font-semibold ps-2">
                                        <span>Confirm Password</span>
                                    </label>
                                    <input type="password" id="ConfirmPassword" asp-for="ConfirmPassword" class="form-input w-full px-4 py-1 border rounded-br-xl rounded-tl-xl border-gray-300 border-l-2 border-t-2 text-gray-700 text-lg focus:ring-blue-500" placeholder="Confirm your password">
                                    <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                                </div>
                                <button type="submit" class="bg-green-700 hover:bg-green-800 focus:ring-green-600 text-white px-4 py-1 mx-1 rounded-tl-xl rounded-br-lg focus:ring-2 focus:ring-opacity-100 w-fit w-[100px]">
                                    Sign Up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</div>
